HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
fhir_frontend/node_modules
fhir_frontend/.pnp
fhir_frontend/.pnp.*
fhir_frontend/.yarn/*
fhir_frontend/!.yarn/patches
fhir_frontend/!.yarn/plugins
fhir_frontend/!.yarn/releases
fhir_frontend/!.yarn/versions
# testing
fhir_frontend/coverage
# next.js
fhir_frontend/.next/
fhir_frontend/out/
# production
fhir_frontend/build
# misc
fhir_frontend/.DS_Store
fhir_frontend/*.pem
# debug
fhir_frontend/npm-debug.log*
fhir_frontend/yarn-debug.log*
fhir_frontend/yarn-error.log*
# env files (can opt-in for committing if needed)
fhir_frontend/.env*
# vercel
fhir_frontend/.vercel
# typescript
fhir_frontend/*.tsbuildinfo
fhir_frontend/next-env.d.ts
