.home {
  width: 85vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  border: 2px solid black;
}

.title {
  border: 2px solid black;
}

.home .title {
  font-size: 2em;
}

.patient-doctor-select {
  width: 7rem;
}

.scroller-hospital {
  border: 10px solid red;
  height: 300px;
  width: 400px;
  overflow: scroll;
  cursor: pointer;
}

.scroller {
  border: 10px solid red;
  height: 300px;
  width: 400px;
  overflow: scroll;
}

.profile {
  width: 400px;
  font-size: 130%;
  border: 10px solid gold;
}

.scroller .profile {
  width: auto;
  text-align: left;
  padding-left: 20px;
}